@model NotificationSettings
@{
    ViewData["Title"] = "Edit Notification Settings";
}
<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <fieldset class="form-group">
            <div class="row pb-2">
                <h2 style="color:#007AA3">Edit Notification Settings</h2>
                <hr />
            </div>
            <div asp-validation-summary="All"></div>
            <div class="form-check">
                <input asp-for="TransactionDate" class="form-check-input" type="checkbox" value="true" >
                <label class="form-check-label" asp-validation-for="TransactionDate">
                    Date Of Transactions
                </label>
            </div>
            <hr />
            <div class="form-check">
                <input asp-for="TransactionTime" class="form-check-input" type="checkbox" value="true" >
                <label class="form-check-label" asp-validation-for="TransactionTime">
                    Time Of Transactions
                </label>
            </div>
            <hr />
            <div class="form-check">
                <input asp-for="OutOfStateTransaction" class="form-check-input" type="checkbox" value="true" >
                <label class="form-check-label" asp-validation-for="OutOfStateTransaction">
                    Out of State Transactions
                </label>
            </div>
            <hr />
            <div class="form-check">
                <input asp-for="Withdrawal" class="form-check-input" type="checkbox" value="true" >
                <label class="form-check-label" asp-validation-for="Withdrawal">
                    Withdrawals
                </label>
            </div>
            <hr />
            <div class="form-check">
                <input asp-for="Deposit" class="form-check-input" type="checkbox" value="true" >
                <label class="form-check-label" asp-validation-for="Deposit">
                    Deposits
                </label>
            </div>
            <hr />
            <div class="form-check">
                <input asp-for="Overdraft" class="form-check-input" type="checkbox" value="true" >
                <label class="form-check-label" asp-validation-for="Overdraft">
                    Account Overdraft
                </label>
            </div>
            <hr />
            <div class="form-check">
                <input asp-for="TransactionDescription" class="form-check-input" type="checkbox" value="true" >
                <label class="form-check-label" asp-validation-for="TransactionDescription">
                    Transaction Description
                </label>
            </div>
        </fieldset>
     </div>
     <div>
        <button type="submit" class="btn" style="width:150px; background-color:#006747; color:white;">Update</button>
            <a asp-controller="NotificationSettings" asp-action="Index" class="btn btn-secondary">
                Back to list
            </a>
        </div>
</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
}