@model NotificationSettings
@{
    ViewData["Title"] = "Notification Settings";
}

<h2 style="color:#007AA3; text-align:center">Selected Notifications</h2>
<form asp-action="Index">
    <div class="list-group">
    @{
        var obj = Model;
        if(obj.LessThan100 == true)
        {
            <span class="list-group-item disabled">Balance Less Than $100</span>
        }
        if(obj.OutOfStateTransaction == true)
        {
            <span class="list-group-item disabled">Out Of State Transactions</span>
        }
        if(obj.Withdrawal == true)
        {
            <span class="list-group-item disabled">Withdrawal Confirmation</span>
        }
        if(obj.Deposit == true)
        {
            <span class="list-group-item disabled">Deposit Confirmation</span>
        }
        if(obj.Overdraft == true)
        {
            <span class="list-group-item disabled">Account Overdraft</span>
        }
        if(obj.TransactionDescription == true)
        {
            <span class="list-group-item disabled">Transaction Description</span>
        }
    }   
    </div>
    <div class="col-6 text-right">
        <a asp-controller="NotificationSettings" asp-action="Edit"  asp-route-id="@obj.Id" class="btn btn-lg" style="background-color:#006747; color:white">
            <i class="bi bi-gear"></i> &nbsp; Edit Notifications
        </a>
    </div>
</form>
